<li id="<%= feed_item.id %>">
    <span class="content">
      <i class="icon-exclamation-sign"></i> Your <%= feed_item.cardtype %> card <%= feed_item.last_four %> payment is due on <%= feed_item.billdate %>
  </span>
</li>


