<% if @past_items.any? %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Card Type</th>
      <th>Last 4 Digits</th>
      <th>Expiration Date</th>
      <th>Last Name</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
      <%= render partial: 'shared/table_item', collection: @past_items %>
    </tbody>

    </table>
  
<% end %>