<% provide(:title, 'Alerts') %>
<div class="span4"> <h2> Alerts </h2> </div> <%= link_to '<i class="icon-plus"></i>  Add New Alert'.html_safe,
                                         newalert_path, :class => "addnew btn btn-primary" %>

                                         <br /> <br />
<div class="cool-box">
<%= render 'shared/alertfeed' %>

</div>