<% provide(:title, 'Manage Accounts') %>
 <div class="span4"><h2>Credit Card Accounts</h2> </div> <%= link_to '<i class="icon-plus"></i>  Register New Credit Card'.html_safe,
                                         newcard_path, :class => "addnew btn btn-primary" %>

                                         <br /> <br />
<div class="cool-box">
<%= render 'shared/list' %>

</div>

<div class="span4"> <h2> Bank Accounts </h2> </div> <%= link_to '<i class="icon-plus"></i>  Link Bank Account'.html_safe,
                                         newbank_path, :class => "addnew btn btn-primary" %>

                                         <br /> <br />
<div class="cool-box">
<%= render 'shared/bank_accts' %>

</div>
